{% load static %}
<!DOCTYPE html>
<html>
<head>

	<title>UTUK</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<!--<link rel="stylesheet" type="text/css" href="resume.css" media="all" />-->
	<link rel="stylesheet" href="{% static 'resume.css' %}">
	<script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('form').onsubmit = function() {
                alert("Thanks for reaching out. I'll get back to you very soon.")
            };
        });
    </script>

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>UWAKMFON J. UTUK</h1>
					<div class="contact-info">
						<h3>Address: Galadimawa, Abuja</h3>
						<h3>Email:<a href="utukphd@gmail.com">utukphd@gmail.com</a></h3>
						<h3>LinkedIn:<a href="https://www.linkedin.com/in/uwakmfon-utuk-3673a4143/
						"> https://www.linkedin.com/in/uwakmfon-utuk-3673a4143/
						</a></h3>
						<h3>GitHub:<a href="https://www.github.com/utukJ">https://www.github.com/utukJ</a></h3>
					</div>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<img src="{% static 'me.jpg' %}" height = "150", width="150">
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Summary</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge" style="text-align: justify;">
								A goal-driven Electrical Engineering student with a track record of academic excellence who is deeply passionate 
								building software systems on the web and applying machine learning to solve problems. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<br/ >
										<p>
										<h5>• Algorithmic problem solving</h5> <br />
										<h5>• Python programming (Strong) </h5><br />
										<h5>• Java programming </h5> <br />
										<h5>• Machine Learning </h5><br />
										<h5>• Strong English communication skills</h5><br />
										<h5>• Strong teamwork and collaboration skills</h5> <br />
										<h5>• Capable of quickly adapting and learning new technologies	</h5></p>
								</div>					
						</div>
					</div><!--// .yui-gf -->
						<div class="yui-u first">	
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>DATA SCIENCE INTERN, HAMOYE A.I LABS</h2>
								<h4>July 2020- Dec. 2020</h4>
								<h5>• Implemented machine learning algorithms in Python</h5><br />
								<h5>• Trained a CNN for multilabel multiclass classification on Planet: Understanding the planet from space &nbsp;&nbsp;&nbsp;Kaggle competition dataset using TensorFlow and Keras.
								</h5><br />
								<h5>• Collaborated on an open-source data analysis and machine learning project on GitHub.
								</h5><br />
								<h5>• Used git for version control where I made and managed pull requests.	
								</h5>
							</div>

							<div class="job">
								<a href=https://training.zuri.team><img src="{% static 'zuri.png' %}" height="50" width="50"></a>
								<a href=https://training.zuri.team><img src="{% static 'i4g.png' %}" height="50" width="50"></a>
								<h2>ZURI TRAINING (DJANGO BACKEND)</h2><h4> April 2021 – July 2021</h4><br />
								<h5>• Completed a simple blog application with functional CRUD operations in Django and deployed to Heroku.</h5><br />
								<h5>• Built API for user authentication and item CRUD for “ANYLEASE” project using Django Rest framework.</h5>
							</div>
							<div class="job">
								<a href=https://internship.zuri.team><img src="{% static 'hng.png' %}" height="50" width="50"></a>
								<a href=https://internship.zuri.team><img src="{% static 'i4g.png' %}" height="50" width="50"></a>
								<h2>HNG INTERNSHIP (BACKEND TRACK)</h2><h4> August 2021 – October 2021</h4><br />
								<h5>• Built resume page with contact form </h5><br />

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>NILE UNIVERSITY, NIGERIA</h2>
							<h3>SEPTEMBER 2017 – JULY 2022</h3>
							<h3>Electrical/Electronic Engineering. &mdash; <strong>Current CGPA 4.83/5</strong> </h3>
						</div> 

						<div class="yui-u"> <br />
							<h2>PEGASUS HIGH SCHOOL, EKET.</h2>
							<h3> SEPTEMBER 2011 – JULY 2017</h3>
							<h3>• Awarded Dux Scholar upon graduation.</h3>
							<h3>• Recognized by Cambridge IGCSE as Highest performing student in the world in Mathematics and Highest performing student in the country in Additional Mathematics. </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Uwakmfon J. Utuk &mdash; <a href="Email: utukphd@gmail.com">Email: utukphd@gmail.com</a></p>
			<br><br><br><br>
			<h2>Contact me by filling the following form</h2>
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Send message">
				</form>
			</h2>		
		</div><!--// footer -->
	</div><!-- // inner -->
</div><!--// doc -->

</body>
</html>

